extends ./base.jade

block content
  each post in posts
    article
      header
        h1
          a(href="#{baseURL(post.link)}") #{post.title}
        .meta
          .key Categories:
          .value
            ul
              each cat in post.categories
                li.cat= cat
