extends ./base.jade

block content
  each post in posts
    article
      header
        h1
          a(href="#{baseURL(post.link)}") #{post.title}
        .meta
          .key Update:
          .value #{post.modificationTime}
          .key Tags:
          .value
            ul
              each tag in post.tags
                li.tag= tag
