doctype html
html(charset="UTF-8")
  head
    link(href="#{baseURL('static/styles.css')}", rel="stylesheet")
    block title
      title #{site.name}
  body
    header
      a(href="#{baseURL('index.html')}") #{site.name}
    block content