doctype html
html(charset="UTF-8")
  head
    base(href="#{baseURI}")
    link(href="static/styles.css", rel="stylesheet")
    block title
      title #{site.name}
  body
    header
      a(href="#{site.url}") #{site.name}
    block content