extends ./base.jade

block content
  article
    header
      h1
        a(href="#") #{post.title}
      .meta
        .key Update:
        .value #{post.modificationTime}
        .key Tags:
        .value #{post.tags.join(', ') || 'Null'}
    main!= post.content