extends ./base.jade

block content
  article
    header
      h1
        a(href="#") #{post.title}
      .meta
        .key Update:
        .value #{post.modificationTime}
        .key Tags:
        .value
          ul.tags
            each tag in post.tags
              li.tag= tag
    main!= post.content