theme-color = #1E90FF
inner-padding = 48px

body, header, footer, a, ul, li, h1, p
  padding 0
  margin 0

p
  line-height 2em

ul, li
  list-style none

a
  text-decoration none
  color theme-color
  &:hover
    text-decoration underline

h1
  font-size 36px

body
  background #fff
  color #555
  font-family "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "Hiragino Sans GB", "Source Han Sans CN Normal", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif

#header
  padding inner-padding
  border-bottom 1px solid theme-color
  // background-image radial-gradient(farthest-corner at 100px 45px , theme-color 0%, hue(theme-color, 60deg) 100%);
  font-weight bold
  color theme-color
  text-align center
  h1
    font-size 36px
    background theme-color
    display inline-block
    padding .3em
    margin-bottom .25em
    a
      color #fff

#main
  padding inner-padding
  width 600px
  margin 0 auto
  h1
    font-size 24px
  article
    margin-bottom 48px

.meta
  font-size 14px
  line-height 28px
  .key, .value
    display inline-block
    margin-right .5em
  .key
    font-weight bold

article
  main
    margin-top 1em
    padding-top 1em

#footer
  text-align center
  font-size 12px
  padding inner-padding