body,
header,
footer,
a,
ul,
li,
h1,
p {
  padding: 0;
  margin: 0;
}
p {
  line-height: 2em;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #1e90ff;
}
a:hover {
  text-decoration: underline;
}
h1 {
  font-size: 36px;
}
body {
  background: #fff;
  color: #555;
  font-family: "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "Hiragino Sans GB", "Source Han Sans CN Normal", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
}
#header {
  padding: 48px;
  border-bottom: 1px solid #1e90ff;
  font-weight: bold;
  color: #1e90ff;
  text-align: center;
}
#header h1 {
  font-size: 36px;
  background: #1e90ff;
  display: inline-block;
  padding: 0.3em;
  margin-bottom: 0.25em;
}
#header h1 a {
  color: #fff;
}
#main {
  padding: 48px;
  width: 600px;
  margin: 0 auto;
}
#main h1 {
  font-size: 24px;
}
#main article {
  margin-bottom: 48px;
}
.meta {
  font-size: 14px;
  line-height: 28px;
}
.meta .key,
.meta .value {
  display: inline-block;
  margin-right: 0.5em;
}
.meta .key {
  font-weight: bold;
}
article main {
  margin-top: 1em;
  padding-top: 1em;
}
#footer {
  text-align: center;
  font-size: 12px;
  padding: 48px;
}
